<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994317297594-v0hp11etv6hnm7gg5bq7n9eguusr22ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994317297594-v0hp11etv6hnm7gg5bq7n9eguusr22ma</string>
	<key>API_KEY</key>
	<string>AIzaSyDnUZjpr75bWz6R6AkdD9zDvBATIO1zuxk</string>
	<key>GCM_SENDER_ID</key>
	<string>994317297594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAmazonApp</string>
	<key>PROJECT_ID</key>
	<string>ama-zon-clone-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ama-zon-clone-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994317297594:ios:4c834563bdb671e33d1f83</string>
</dict>
</plist>